@use "../custom" as *;
@use "../components/mixins" as *;

.menu {
  @include gradient;
  opacity: 1;

  .nav_container {
    margin-top: 0.5rem;

    .nav_list {
      border: none;
    }

    .nav-item {
      a {
        font-weight: 600 !important;
        font-size: 1.1rem !important;
        padding: 0.5rem 1.5rem;
        color: $white;
      }
    }
  }
}
