@use "../custom" as *;
@use "../components/mixins" as *;

.projects {
  .carousel-inner {
    border-radius: 15px !important;
    border: 1px solid $main-dark;
  }

  .description {
    .icons {
      align-items: center;

      list-style-type: none;
      flex-wrap: wrap;

      span {
        display: flex;
        align-items: center;
      }

      i {
        color: $pink;
        font-size: 2rem;
        padding: 0 0.7rem 0 0.4rem;
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
